@import '../param';

rn-config{
  arguments:Theme
}
/*门店*/
detail {
  .flatListbox{
    background-color: #f2f3f5;
    flex: 1;
    width: 100%;
  }
  .delbox{
    background-color: #ddd;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
  }
  .herderbox{
    width: 100%;
    height: 80;
  }
  .searchbox{
    height: 44;
    background-color: #fff;
    margin-bottom: 6;
    border-bottom: 1px solid #ddd;
  }
  .tit{
    height: 30;
    background-color: #FFF7DE;
    flex-direction: column;
    justify-content: center;
    .lh{
      padding-left: 10px;
    }
  }
  .mdlist{
    height: 130;
    background-color: #fff;
    margin-bottom: 6px;
    .ls_t{
      padding: 0 12;
      .hadtext{
        line-height: 30;
      }
    }
    .a_1{
      flex-direction: row;
      justify-content: space-between;
    }
    .ls_con{
      padding: 0 0;
      height: 65px;
      .c_box{
        padding: 4 12;
      }
    }
    .ls_bot{
      border-color: #eee;
      border-width: 1 0 0 0;
      flex-direction: row-reverse;
      padding-top: 5px;
      height: 35px;
      .but{
        width: 65;
        height: 24;
        border: 1 solid #DDDDDD;
        border-radius: 12;
        margin-left: 10;
      }
    }
  }
}
/*彩票机管理*/
cpjmanagement{
  .cpjmanagementbox{
    background-color: #ddd;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    .flatListbox{
      background-color: #f2f3f5;
      flex: 1;
      width: 100%;
    }
    .ls_box{
      height: 180px;
      margin-bottom: 6;
    }
    .textv{
      justify-content: center;
      height: 44;
    }
    .hardebox{
      background-color: #fff;
      margin-bottom: 6;
      width: 100%;
      height: 44;
      flex-direction: row;
      .icon{
        width: 30px;
        margin-top: 6;
        margin-right: 5px;
      }
    }
    .tjbut{
      font-size: 16;
      color: #114FCD;
    }
    .ls_conbox{
      height: 44;
      border-bottom: 1 solid #eee;
      padding: 0 12;
      justify-content: flex-start;
      align-items: center;
      .text{
        min-width: 72;
      }
    }
    .bt_bot{
      background-color: #fff;
      border-color: #eee;
      border-width: 1 0 0 0;
      flex-direction: row-reverse;
      padding: 11 12;
      height: 47;
      .but{
        padding-top: 0;
        padding-bottom: 0;
        width: 65;
        height: 24;
        border: 1 solid #DDDDDD;
        border-radius: 12;
        margin-left: 10;
        background-color: #fff;
      }
    }
  }
}
/*新增账号*/
idjoin{
  .txetv{
    height: 44px;
    justify-content: center;
  }
  .ls_box{
    margin-bottom: 6;
  }
  .ls_conbox{
    height: 44;
    border-bottom: 1 solid #eee;
    padding: 0 12;
    .text{
      min-width: 75;
      text-align: left;
    }
    .inputbox{
      width: 250;
      height: 44;
      line-height: 44;
      font-size: 14px;
    }
  }
  .titbox{
    margin: 10 12;
  }
  .butbox{
    margin: 20 12;
    background-color: @blue;
    .but{
      height: 40;
      background-color: @blue;
      border-radius: 5;
      border-width: 0;
    }
  }
}
/*修改门店信息*/
revampstore{
  .revampstore{
    .textv{
      width: 95px;
      height: 44px;
      justify-content: center;
      align-items: center;
    }

    flex: 1;
    .ls_box{
      margin-bottom: 6;
      .inputbox{
        width: 250;
        height: 44;
        font-size: 14px;
      }
    }
    .ls_conbox{
      height: 45;
      border-bottom: 1 solid #eee;
      padding: 0 12;
      .text{
        color: #000;
        font-size: 17px;
      }
    }
    .ls_conboxrw{
      height: 60;
      border-bottom: 1 solid #eee;
      padding: 6 12;
    }
    .title2box{
      justify-content: center;
      height: 34;
      background-color: #ddd;
    }
    .title2{
      color: #666;
      padding-left: 12;
    }
    .but{
      height: 48px;
      line-height: 48px;
      background-color: @blue;
      border-radius: 0;
      border-width: 0;
    }
    .textareaItem{
      width: 250;
      height: 48;
      line-height: 44;
      border-width: 0;
      font-size: 14px;
    }
    .martop{
      margin-top: 6;
    }
    .pickerbox{
      width: 100%;
      height: 44px;
    }
    .ChinaRegion{
      width: 200px;
      height: 44px;
    }
    .pickertext{
      width: 300px;
      line-height: 43;
    }
  }
}
joincpj{
  .textv{
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 44px;
  }
  .ls_conbox{
    height: 44;
    border-bottom: 1 solid #eee;
    padding: 0 12;
    .text{
      color: #666;
      font-size: 14px;
    }
    .inputbox{
      width: 250;
      height: 44;
      line-height: 44;
      font-size: 14px;
    }
  }
  .butbox{
    margin: 94 12;
    .but{
      color: #fff;
      height: 40;
      line-height: 40;
      background-color: @blue;
      border-radius: 5;
      border-width: 0;
    }
  }
}
uploadreport{
  .pagebox{
    flex-direction: column;
    height: 100%;
  }
  .herderbox{
    background-color: #fff;
    padding: 6px 0;
    flex: 1;
    .text{
      font-size: 17px;
      color: #333;
      line-height: 26px;
      text-align: center;
    }
    .col{
      color: @red;
    }
  }
  .imgbox{
    flex: 9;
    margin-top: 10px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    .img{
      width: 146px;
      height: 162px;
    }
  }
}
ReportUpload{
  .pagebox{
    flex: 1;
    flex-direction: column;
  }
  .topbox{
    flex: 1;
    width: 100%;
  }
  .bannerbox{
    flex: 1;
    margin-bottom: 6px;
  }
  .itembox{
    flex-direction: row;
    background-color: #fff;
    padding: 0 12px;
    height: 32;
    flex-direction: row;
    align-items: center;
    .texta{
      font-size: 16px;
      color: #333;
    }
    .textb{
      font-size: 16px;
      color: #002000;
    }
  }
  .ls_conbox{
    height: 44;
    border-bottom: 1 solid #eee;
    padding: 0 12;
    flex-direction: row;
    justify-content: space-between;
    .text{
      font-size: 16;
      color: #333333;
      min-width: 75;
      text-align: left;
    }
    .inputbox{
      width: 160px;
      height: 40px;
      line-height: 40;
      font-size: 14;
      border: 1px solid #eee;
      margin-top: 2;
      text-align: right;
      color: #666;
    }
  }
  .butbox{
    width: 100%;
    height: 60px;
    background-color: #fff;
    padding: 10 12;
    border-top: 1px solid #eee;
    flex-direction: row;
    justify-content: space-between;
    .but{
      height: 40;
      background-color: @blue;
      border-radius: 5;
      border-width: 0;
    }
  }
}